CompileFlags:
  CompilationDatabase: build/clangd
  Add: 
  - -Wno-unqualified-std-cast-call
  - -I/mnt/nvme/duckdb/src/include
  - -I/mnt/nvme/duckdb/tools/shell/include
  - -I/mnt/nvme/duckdb/tools/sqlite3_api_wrapper/include
  - -I/mnt/nvme/duckdb/third_party/catch
  - -I/mnt/nvme/duckdb/test/include
